.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#background{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  object-fit:cover;
  z-index: 0;
}
.login-space{
  position: relative;
  z-index: 1;
  margin-right: 150px;
  padding: 40px;
  position: fixed;
  height:  400px;
  width: 350px;
  background: white;
  border: 2px solid  #2780F5;
  border-radius: 20px;
}
.description{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2E6AB0;
  margin-top: 20px;
}
#email, #password{
  height: 35px;
  width: 320px;
  border-radius: 5px;
  border: 1px solid #63ACFF;
  padding: 0 10px;
  font-size: 16px;
}
#reset-btn{
  margin: 20px 0 10px 0;
  height:35px;
  width: 344px;
  border-radius: 5px;
  background: #2A81DB;
  border: 1px solid white;
  font-size: 16px;
  color: white;
}
#return{
  background: none;
  border: none;
  color:  #2E6AB0;
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.error{
  color: red;
}
